.task-board-wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 100%;
    background-color: darkblue;
    padding: 10px 0;
    justify-content: space-between;
}
.board-main{
    color: white;
    display: flex;
    border-right: 1px solid white;
    padding:20px 0;
    font-weight: bold;
    font-size: large;
    flex-basis: 20%;
    align-items: center;
}
header{
    display:flex;
    justify-content: start;
    padding:0 20px;
}
.board-tab{
    display: flex;
    
}
.main{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    overflow: hidden;
}
